.splash{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.splash__image{
    width: 50%;
    height: 50%;
}

.splash__image--aimated{
    animation-name: splash;
    animation-duration: 4s;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
}

@keyframes splash{
    25%{
        transform: scale(0.9) rotate(90deg);
    }
    50%{
        transform: scale(1) rotate(180deg);

    }
    75%{
        transform: scale(0.9) rotate(270deg);
    }
    100%{
        transform: scale(1) rotate(360deg);
    }
}
